

@font-face {
    font-family: 'heavyweightregular';
    src: url('../fonts/heavywei-webfont.eot');
    src: url('../fonts/heavywei-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heavywei-webfont.woff') format('woff'),
         url('../fonts/heavywei-webfont.ttf') format('truetype'),
         url('../fonts/heavywei-webfont.svg#heavyweightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}