

			<!-- POSTS -->

			<div class="articlePostContainer">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 articlePost" 
						data-ng-repeat="post in results"
						data-ng-click="getURL(post.ID, post.post_name)">
						<div class="articlePostBox">
							<div class="dateBox">
								{{post.post_date}}
							</div>

							<figure data-ng-bind-html="post.thumburl"></figure>

							<div class="title">
								<h1>{{post.post_title}}</h1>
							</div>

							<div class="description" data-ng-bind-html="post.post_excerpt">
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- END POSTS -->